select {
    border-color: rgb(168, 164, 164);
    height: 40px;
    border-radius: 5px;
    padding: 0 3px;
    color: rgb(44, 41, 41)
}

.table {
    margin: auto;
}

.plan {
    margin: 0 40px 20px;
}

.plan h3 {
    margin-top: 40px;
}

.plan h5 {
    margin-bottom: 25px;
}

/* .cardImage {
    width: 30vw;
} */

.trainerDiv {
    margin: 40px
}

.chartDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.planDiv {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.icon {
    cursor: pointer;
}

.edit-form-div {
    padding: 20px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 20px;
}

.memerHealthRecordDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 20px 30px;

}

.memerHealthRecordDiv button {
    margin-right: 20px;
}

.branches-div {
    margin: 20px;
}

.trainer-div{
    margin: 20px;
}

.trainer-div button{
    margin-right: 10px;
}