select {
    border-color: rgb(168, 164, 164);
    height: 40px;
    border-radius: 5px;
    padding: 0 3px;
    color: rgb(44, 41, 41)
}

.table {
    margin: auto;
}

.update-btn-table {
    margin-left: -80px;
}

.update-btn-table .icon{
    /* margin: 0 5px; */
}

.plan {
    margin: 0 40px 20px;
}

.plan h3 {
    margin-top: 40px;
}

.plan h5 {
    margin-bottom: 25px;
}

/* .cardImage {
    width: 30vw;
} */

.trainerDiv {
    margin: 40px
}

.chart-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.planDiv {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.icon {
    cursor: pointer;
}

.edit-form-div {
    padding: 20px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 20px;
}

.memerHealthRecordDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 20px 30px;

}

.memerHealthRecordDiv button {
    margin-right: 20px;
}

.branches-div {
    margin: 20px;
}

.branches-div button{
    margin-right: 10px;
}

.facilities-div {
    margin: 20px
}

.trainer-div{
    margin: 20px;
}

.trainer-div button{
    margin-right: 10px;
}

.health-record-form {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    max-width: 400px !important;
    z-index: 100 !important;
    text-align: center !important;
    margin-left: -200px !important;
    margin-top: -200px !important;
}

.health-record-form input {
    margin-bottom: 12px;
}

.health-record-form button {
    max-width: 100px;
    margin: -20px 10px 10px;
}

.health-plan-div {
    /* background-image: linear-gradient(#E4A11B, black, #E4A11B); */
    padding: 15px;
    text-align: center;
    height: 100vh;
    /* color: white; */
}

.health-plan-div button {
    margin: 20px;
}

.health-plan-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.health-plan-2 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.health-plan-2 button {
    max-width: 200px;
}

.health-plan-trainer {
    margin: auto;
    max-width: 400px;
}

.health-plan-trainer img {
    max-width: 400px;
    height: auto;
}

.health-plan-workout {
    margin: 0 15px;
}

.health-plan-diet {
    margin: 0 15px;
}

.gym-staff-div button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gym-staff-div button{
    margin: auto;
}

