select {
    border-color: rgb(168, 164, 164);
    height: 40px;
    border-radius: 5px;
    padding: 0 3px;
    color: rgb(44, 41, 41)
}

.table {
    margin: auto;
}

.plan {
    margin: 0 40px 20px;
}

.plan h3 {
    margin-top: 40px;
}

.plan h5 {
    margin-bottom: 25px;
}

/* .cardImage {
    width: 30vw;
} */

.trainerDiv {
    margin: 40px
}

.chartDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.planDiv {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}